  <div class="header" >
    <div>
      <a [routerLink]="['/home']" style="text-decoration: none; color:black;">
        <div class="heading">Banking App</div>
      </a>
    </div>
    <div class ="menu-item" *ngIf="!isMobileLayout" >
      <a [routerLink]="['/transactions']" style="text-decoration: none; color:black;">
        <p>Transactions</p>
      </a>
      </div>
      <div class="menu-item"  *ngIf="!isMobileLayout" >
      <a [routerLink]="['/transactions']" style="text-decoration: none; color:black;">
        <p> Insight</p>
      </a>
        </div>
    <div>
      <mat-slide-toggle class="toggle" [checked]="darkmode$ | async" (change)="toggleDarkMode()">
        Dark Theme
      </mat-slide-toggle>
    </div>
  </div>
