.footer{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row;
  flex-grow: 4;
  gap: 10px;
  width: 100%;
  justify-content: space-evenly;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding-top: 5px;
}

.menu-item{
  display: flex;
  flex-flow: column;
  align-items: center;
}
