<div class ="accountoverview">

  <app-custom-header class ="header"></app-custom-header>

  <div class="page">
    <p class ="page-heading">Account Overview</p>
    <p class="welcome"> Welcome back Sarthak!</p>
    <div class="card divChart" [routerLink]="['/transactions' ]">
      <p class="title">Savings Account</p>
      <p class ="account-number">Account Number: 123456789</p>
      <p class="balance">1000€</p>
    </div>
    <div class="widget-manager">
      <app-feature-insight-card></app-feature-insight-card>
      <app-feature-recent-transactions></app-feature-recent-transactions>
      <app-feature-debit-card></app-feature-debit-card>
    </div>
  </div>
  <app-footer></app-footer>
</div>
