
.accountoverview{
  display: flex;
  flex-flow: column;
  height:100vh;
}


.page{
  margin-top:8vh;
  width: 100%;
}
.page-heading{
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  margin-inline:20px;
  padding-bottom: 0;
  margin-block: 0;
}

.widget-manager {
  display: flex;
  flex-flow: row wrap ;
  width: 98%;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 2vh;
  margin-inline: 20px;
}

app-feature-insight-card{
  flex-grow: 1;
}

app-feature-debit-card{
  flex-grow: 1;
}

app-feature-recent-transactions{
  flex-grow: 1;
  margin-left:20px;
}

.welcome{
  font-family: heading-font;
  font-size: 1.4rem;
  font-weight: 600;
  margin-inline:20px;
  padding-bottom: 0;
  margin-block: 0;

}
.card.dark-mode{
  background-color: #1a1a1a;
  color: wheat;
}

.card.light-mode{
  background-color: white;
  color: black;
}

title.light-mode{
  color: black;
}
.title.dark-mode{
  color: wheat;
}
.card{
  margin-inline: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  background-image:
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23fcc900' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23fcc900' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23fcc900' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23fcc900' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23fcc900' stop-opacity='.25' offset='0%25'/%3e%3cstop stop-color='%23fcc900' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");
  background-repeat: repeat-x;
  background-size: 1600px 50%;
  background-position: 0 130%, -50px 130%, 500px 130%;
  animation: 20s waves linear infinite forwards;
}
@keyframes waves {
  to {
    background-position: 1600px 130%, 3150px 130%, 5300px 130%;
  }
}
.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  transform: scale3d(1.01, 1.05, 1);
}

h1{
  color: black;
}
.transfer{
  border-radius: 8px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  padding: 4px;

}
.transfer:hover{
  transform: scale3d(1.01, 1.08, 1);
}





