/* You can add global styles to this file, and also import other style files */

@import '@sfc/style/css/sfc-style.css';
@import '@sfc/style/fonts/myriad/default.css';


html, body { height: 100%; }
body.light-mode { margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
background-color: white;}

body.dark-mode{
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1a1a1a;
  color: wheat;
}



@font-face {
  font-family :'heading-font';
  src: url('../src/assets/IndieFlower-Regular.ttf');
}
