<div class="divChart">
  <div class="heading">
    Credit Card
  </div>
  <div class="flip">
  <div class="card">
    <div class="type">
      <div class="chip"></div>
      <img src="https://img.icons8.com/color/48/000000/visa.png" class="type-img" />
    </div>
    <div class="card-number">**** **** **** 1234</div>
    <div class="details">
      <div class="card-holder">John Doe</div>
      <div class="card-expiry">12/20**</div>
    </div>
  </div>
  <div class="backcard">
    <div class="type">
      <div class="chip"></div>
      <img src="https://img.icons8.com/color/48/000000/visa.png" class="type-img" />
    </div>
    <div class="card-number">6485 8345 5874 1234</div>
    <div class="details">
      <div class="card-holder">John Doe</div>
      <div class="card-expiry">12/2025</div>
    </div>
  </div>
    </div>
  <div class="button">
    show more
  </div>
</div>
